* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #282828;
    --text-color: #fff5f5;
    --btn-color: #1a1a1a;
    --task-color: #3a3a3a;

    /* padding */
    --nav-padding: 15px 20px;
    --section-padding: 15px 20px;
    --padding-sm:5px;
    --padding-md:10px;
    --padding-lg:15px;
    --padding-xl:20px;
    --padding--xxl:25px;


    /* border radius */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 25px;
}


html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    height:100%;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-md) var(--padding-lg);
    border:none;
    cursor: pointer;
    outline:none;
}

section {
    padding: var(--section-padding);
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    gap:var(--padding-xl);
}

 section .task-col {
    flex-grow: 1;
    background-color: var(--btn-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-md);
    display:flex;
    flex-direction: column;
    gap:var(--padding-lg)

} 


section .task-col .heading {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--padding-xl);
}


section .task-col .task {
    background-color: var(--task-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-sm);
    display:flex;
    flex-direction: column;
    gap:var(--padding-sm);
}


section .task-col .task button {
    align-self: flex-end;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    border:none;
    outline:none;
}


